
.ad{
    background-color: rgb(246, 244, 244);
  
}
.ad1{
    background-color: blue;
    color: white;
    text-align: center;
}
.profile{
    margin: 30px auto;
    width: 300px;
}
.ad2{
    text-align: center;
    padding-left: 8cm;
}
.ad3{
    text-align: center;
    background-color: antiquewhite;
}