.div1{
    background-color: green;
    color: white;
    height: 3cm;
    padding-top: 3m;
   text-align: right;
    
}
.ad2{
    text-decoration: none;
    padding-right: 24cm;
    color: white;
}
.ad1{
    text-decoration: none;
    color: white;
    text-align: right;
    padding-left: 3cm;
    padding-right: 0.5cm;
}
.div2{
    text-align: center;
    background-color: rgb(224, 226, 227);
    color: black;
    height: 3cm;
    padding-top: 2cm;
}
.div3{
    text-align: center;
    background-color: rgb(233, 224, 224);
    
    padding-top: 0.5cm;
}
.button1{
    background-color: rgb(246, 241, 241);
    color: black;
    padding-left: 5 cm;
    width: 12.5cm;
    border-radius: 3px;
    height: 1.5cm;
}
.div4{
    background-color: black;
    color: white;
    height: 0.5cm;
    text-align: center;
}
.button2{
    background-color: green;
    color: white;
}