.highlight {
    background-color: rgb(192, 171, 171);
    color: rgb(219, 85, 33);
    font-weight: bold;
    opacity: 0.8;
    
    
}

.solid {
    border: 2px solid rgb(64, 215, 105);
    text-align: center;
    height: 30px;
    padding: 10px;
    padding-left: 3cm;
    margin-left: 1cm;
}

div {
    background-color: #d4d3d0;
    opacity: 0.8;
    padding-left: 1cm;
    padding: 7%;
}

.center {
    color: rgb(173, 48, 23);
    padding-left:0.1cm;
}

.div2 {
    background: rgb(245, 242, 242);
    border-left: 3px solid rgb(66, 222, 107);

}

.text-align {
    color: red;
    padding-left: 0.5cm;
}

.border {
    color: red;
    padding-left: 0.5cm;
}

.center2 {
    color: rgb(12, 4, 118);
}

.solid-2 {
    color: rgb(12, 4, 118);
}

.button {
    background-color: rgb(4, 118, 63);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin-top: 2cm;
    
}
.text{
    padding-left: 1cm;
}